<div class="add-product">
    <h1>Update Product</h1>
    <p class="productUpdate-message">{{productMessage}}</p>
    <form class="common-form" #updateProduct="ngForm" (ngSubmit)="submit(updateProduct.value)">
        <input 
        type="text"
        class="form-input" 
        name="id"
        placeholder="enter product id" 
        ngModel="{{productData?.id}}" />
        
        <input 
        type="text"
        class="form-input" 
        name="name"
        placeholder="enter product name" 
        ngModel="{{productData?.name}}" />

        <input 
        type="text"
        class="form-input" 
        name="price"
        placeholder="enter product price" 
        ngModel="{{productData?.price}}"/>

        <input 
        type="text"
        class="form-input" 
        name="color"
        placeholder="enter product color" 
        ngModel="{{productData?.color}}"/>

        <input 
        type="text"
        class="form-input" 
        name="category"
        placeholder="enter product category" 
        ngModel="{{productData?.category}}"/>

       <textarea
       type="text"
       class="form-input"
       placeholder="enter product description"
       name="description"
       ngModel="{{productData?.description}}">
       </textarea>

        <input 
        type="text"
        class="form-input" 
        name="imageUrl"
        placeholder="enter product image url" 
        ngModel="{{productData?.imageUrl}}"/>

        <button 
        class="form-button" >
        Update Product
        </button>

    </form>
</div>

