.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:45px;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: rgb(248, 246, 250);
    text-decoration: none;
}