ul{
    margin: 0;
    padding: 0;
}
.footer {
    height:60px;
    padding: 10px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0; 
    background-color: rgb(250, 247, 247);
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: blueviolet;
    text-decoration: none;
}