<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
 
    <div class="form-group">
      <label for="firstname">First Name : </label>&nbsp;
      <input class="form-control" type="text" id="firstname" name="firstname" #firstname="ngModel" placeholder="First name"  required ngModel>
    </div>
    <span class="text-danger" *ngIf="firstname.touched && firstname.errors?.['required']"> First Name is required
    </span>
    
   
    <div class="form-group">
      <label for="lastname">Last Name : </label>&nbsp;
      <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Last name" #lastname="ngModel" ngModel>
    </div>
    <span class="text-danger" *ngIf="lastname.touched && lastname.errors?.['required']">Last Name is required
    </span>
   
    <div class="form-group">
      <label for="email">Email : </label>&nbsp;
      <input class="form-control" type="email" id="email" name="email" placeholder="Email" email required #email="ngModel" ngModel>
    </div>
    <span class="text-danger"
    *ngIf="email.touched && email.errors?.['required']">
    Email is required
    </span>
    <span class="text-danger" *ngIf="email.touched && email.errors?.['email']">
    Enter a valid email address
    </span>
   
    <div class="form-group">
        <label  for="phonenumber">Phone no. : </label>&nbsp;
        <input class="form-control" type="phone" id="phonenumber" name="phonenumber" #phonenumber="ngModel" placeholder="Phone number" maxlength=10 minlength=10 required ngModel>
    </div>
    <span class="text-danger" *ngIf="phonenumber.touched && phonenumber.errors?.['required']">Phone number is required
    </span>
    <span class="text-danger" *ngIf="phonenumber.touched && phonenumber.errors?.['maxlength']">Phone number must contain 10 digits 
    </span>
    <span class="text-danger" *ngIf="phonenumber.touched && phonenumber.errors?.['minlength']">Phone number must contain 10 digits 
    </span>

    <div class="form-group">
        <label for="comments">Comments : </label><br/>&nbsp;
        <textarea class="form-control" cols="100" rows="4" placeholder="Add comments" id="comments" name="comments" #comments="ngModel" ngModel></textarea>
    </div>

    <div>
      <button type="submit" (click)="saveData()" [disabled]="!contactForm.valid" class="btn btn-success">Submit</button>
    </div>
    
  </form>