.form{
    padding:15px;
    border:2px solid gray;
    margin-left:5px;
}
h4{
    display:flex;
    justify-content:center;
    align-items:center;
}
.row{
    margin:4px;
    padding-top:10px;
}
input{
    font-size: 12px;
}
textarea{
    font-size: 12px;
}
