<div class="container">
    <div class="box">
       <div class="text-center">
        <h3>Sign Up</h3>
        <h6>Please enter your details carefully</h6>
       </div>
        <form class="common-form">
            <div>
                <label>Enter Username</label>
                <input class="form-input form-control" type="text" placeholder="Enter name">
            </div>
            <div>
                <label>Enter email address</label>
                <input class="form-input form-control" type="email" placeholder="Enter email address">
            </div>
            <div>
                <label>Enter email address</label>
                <input class="form-input form-control" type="password" placeholder="Enter password">
            </div>
            <div class="form-button">
                <button class="btn btn-secondary btn-sm mx-2 ">SignUp</button>
            </div>
        </form>
    </div>
</div>