<nav class="nav-header header">
    <h2><a routerLink="/">Onespot Shop</a></h2>
    <div class="search-container nav-search">
        <input type="text" id="clearSearch" #searchInput  placeholder="Search for products"/>
        <button  class="btn button" type="submit">Search</button>
    </div>
    <div>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a  routerLink="/seller">Seller</a></li>
        <li><a routerLink="/user">User</a></li>
        <li><a routerLink="/cart">Cart</a></li>
    </ul> 
   </div>
</nav> 
